{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- BEGIN #content -->

<div class="col-7" style="margin: 10px auto;">
    <!-- BEGIN page-header -->
    <p class="fs-30px pt-10px">
        History info
    </p>
    <!-- END page-header -->
    <div class="row">
        <!--BEGIN card-->
        <div class="card h-auto">
            <!--BEGIN card-body-->
            <div class="card-body">
                <table id="asset_table" class="table fs-14px mb-0 text-center align-middle text-white text-opacity-60 m-auto">
                    <thead>
                        <tr class="table-active text-white text-opacity-75">
                            <th class="text-center first-column">항목</th>
                            <th class="text-center">정보</th>
                            <th class="text-center">정보</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="first-column">날짜</td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="datepicker1" name="datepicker1" placeholder="select date...">
                                    <button class="input-group-text" id="aa" for="datepicker1">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="datepicker2" name="datepicker2" placeholder="select date...">
                                    <button class="input-group-text" id="bb" for="datepicker2">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="first-column">Computer Name</td>
                            <td colspan="2" class="center-column">
                                <div class="asset-input-group" >
                                    <div style="display: flex; align-items: center;">
                                        <input type="search" class="asset-form-control" id="search_his" placeholder="검색어를 입력하세요">
                                        <button class="btn btn-outline-warning" type="button" id="search_his_btn">검색</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="first-column">사용자</td>
                            <td id="asset_computer_name">-</td>
                            <td id="asset_computer_name2">-</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td class="first-column">IP 주소</td>
                            <td id="asset_ip_address">-</td>
                            <td id="asset_ip_address2">-</td>
                        </tr>
                        <tr>
                            <td class="first-column">Mac 주소</td>
                            <td id="asset_mac_address">-</td>
                            <td id="asset_mac_address2">-</td>
                        </tr>
                        <tr>
                            <td class="first-column">OS 종류</td>
                            <td id="asset_os_simple">-</td>
                            <td id="asset_os_simple2">-</td>
                        </tr>
                        <tr>
                            <td class="first-column">OS 버전</td>
                            <td id="asset_os_version">-</td>
                            <td id="asset_os_version2">-</td>
                        </tr>
                        <tr>
                            <td class="first-column">Office 365 버전</td>
                            <td id="asset_office_version">-</td>
                            <td id="asset_office_version2">-</td>
                        </tr>
                        <tr>
                            <td class="first-column">메모리 사용량</td>
                            <td id="asset_mem_use">-</td>
                            <td id="asset_mem_use2">-</td>
                        </tr>
                        <tr>
                            <td class="first-column">디스크 사용량</td>
                            <td id="asset_disk_use">-</td>
                            <td id="asset_disk_use2">-</td>
                        </tr>
                        <tr>
                            <td class="first-column">최초 네트워크 접속일</td>
                            <td id="asset_first_network">-</td>
                            <td id="asset_first_network2">-</td>
                        </tr>
                        <tr>
                            <td class="first-column">내 컴퓨터 정보</td>
                            <td id="asset_hw_cpu">-</td>
                            <td id="asset_hw_cpu2">-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--END card-body-->
            <!--BEGIN card-arrow-->
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            <!--END card-arrow-->
        </div>
        <!--END card-->
    </div>
</div>
<!-- script -->

{% endblock %}