{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- BEGIN #content -->

<div class="col-8" style="margin: 10px auto;">
    <!-- BEGIN page-header -->
    <p class="fs-30px pt-10px">
        Asset info
    </p>
    <!-- END page-header -->
    <div class="row">
        <!--BEGIN card-->
        <div class="card h-auto">
            <!--BEGIN card-body-->
            <div class="card-body">
                <table id="asset_table" class="table w-100 fs-14px text-center align-middle text-white text-opacity-60">
                    <thead>
                        <tr class="table-active text-white text-opacity-75">
                            <th class="text-center first-column">항목</th>
                            <th class="text-center">정보</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="first-column">Computer Name</td>
                            <td class="center-column">
                                <div class="asset-input-group">
                                    <input type="search" class="asset-form-control" id="asset_search_result" placeholder="검색어를 입력하세요">
                                    <div>
                                      <button class="btn btn-outline-warning ms-3px" type="button" id="asset_search">검색</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="first-column">사용자</td>
                            <td id="asset_computer_name">-</td>
                        </tr>
                        <tr>
                            <td class="first-column">메모</td>
                            <td class="center-column">
                                <div class="asset-input-group">
<!--                                    <input type="search" class="asset-form-control" id="asset_memo" value="" placeholder="저장할 메모를 입력하세요">-->
                                    <textarea class="asset-form-control textarea-resize" id="asset_memo" placeholder="저장할 메모를 입력하세요."></textarea>
                                    <div>
                                        <button class="btn btn-outline-info ms-3px" type="button" id="memo_save">저장</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="first-column">IP 주소</td>
                            <td id="asset_ip_address">-</td>
                        </tr>
                        <tr>
                            <td class="first-column">Mac 주소</td>
                            <td id="asset_mac_address">-</td>
                        </tr>
                        <tr>
                            <td class="first-column">OS 종류</td>
                            <td id="asset_os_simple">-</td>
                        </tr>
                        <tr>
                            <td class="first-column">OS 버전</td>
                            <td id="asset_os_version">-</td>
                        </tr>
                        <tr>
                            <td class="first-column">Office 365 버전</td>
                            <td id="asset_office_version">-</td>
                        </tr>
                        <tr>
                            <td class="first-column">메모리 사용량</td>
                            <td id="asset_mem_use">-</td>
                        </tr>
                        <tr>
                            <td class="first-column">디스크 사용량</td>
                            <td id="asset_disk_use">-</td>
                        </tr>
                        <tr>
                            <td class="first-column">최초 네트워크 접속일</td>
                            <td id="asset_first_network">-</td>
                        </tr>
                        <tr>
                            <td class="first-column">내 컴퓨터 정보</td>
                            <td id="asset_hw_cpu">-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--END card-body-->
            <!--BEGIN card-arrow-->
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            <!--END card-arrow-->
        </div>
        <!--END card-->
    </div>
</div>

<script>
    //-----------------세션만료알림창---------------------------
    var sessionTimeout = 240 * 60 * 1000; // 4시간을 밀리초로 변환

    // 세션 만료 시간 후에 실행될 함수를 설정합니다.
    var sessionTimeoutAlert = setTimeout(function() {
        alert('세션이 만료되었습니다. 다시 로그인 해주세요.'); location.reload();
    }, sessionTimeout);

    // 사용자의 행동을 감지해서 세션 만료 시간을 재설정하는 함수입니다.
    function resetSessionTimeout() {
        clearTimeout(sessionTimeoutAlert);
        sessionTimeoutAlert = setTimeout(function() {
            alert('세션이 만료되었습니다. 다시 로그인 해주세요.'); location.reload();
        }, sessionTimeout);
    }

    // 클릭 또는 키 입력 등 사용자의 행동을 감지하도록 이벤트 리스너를 추가합니다.
    window.addEventListener('mousemove', resetSessionTimeout);
    window.addEventListener('keypress', resetSessionTimeout);
// $(document).ready(function() {
  // $('#memo_save').click(function() {
  //   var memoValue = $('#asset_memo').val();
  //   var computernameValue = $('#asset_computer_name').val();
  //   var macaddressValue = $('#asset_mac_address').val();
  //
  //   $.ajax({
  //     url: 'save_memo/',  // 저장할 URL 주소로 변경해야 합니다.
  //     method: 'POST',
  //     data: { memo: memoValue,
  //               computername: computernameValue,
  //               macaddress: macaddressValue
  //                           },
  //     success: function(response) {
  //       console.log('메모가 성공적으로 저장되었습니다.');
  //       // 원하는 작업 수행
  //     },
  //     error: function(xhr, status, error) {
  //       console.error('메모 저장 중 오류가 발생했습니다:', error);
  //       // 에러 처리 로직 추가
  //     }
  //   });
  // });
// });
</script>
{% endblock %}
