{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- BEGIN #content -->

<div class="col-8" style="margin: 10px auto;">
    <!-- BEGIN page-header -->
    <p class="fs-30px pt-10px">
        Log info
    </p>
    <!-- END page-header -->
    <div class="row">
        <!--BEGIN card-->
        <div class="card h-auto">
            <!--BEGIN card-body-->
            <div class="card-body">
                <table id="log_popupTable" class="table w-100 fs-14px text-center text-white text-opacity-60">
                    <thead>
                        <tr class="table-active text-white text-opacity-75">
                            <th class="text-center">No</th>
                            <th class="text-center">기능 이름</th>
                            <th class="text-center">항목 이름</th>
                            <th class="text-center">결과</th>
                            <th class="text-center">유저</th>
                            <th class="text-center">시간</th>

                        </tr>
                    </thead>
                </table>
            </div>
            <!--END card-body-->
            <!--BEGIN card-arrow-->
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            <!--END card-arrow-->
        </div>
        <!--END card-->
    </div>
</div>
{% endblock %}