{% load static %}
<div id="header" class="app-header">
    <!-- BEGIN desktop-toggler -->
    <div class="desktop-toggler">
        <button type="button" class="menu-toggler" data-toggle-class="app-sidebar-collapsed" data-dismiss-class="app-sidebar-toggled" data-toggle-target=".app">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
    <!-- BEGIN desktop-toggler -->

    <!-- BEGIN mobile-toggler -->
    <div class="mobile-toggler">
        <button type="button" class="menu-toggler" data-toggle-class="app-sidebar-mobile-toggled" data-toggle-target=".app">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
    <!-- END mobile-toggler -->

    <!-- BEGIN brand -->
    <div class="brand">
        {% if request.session.sessionid and request.session.sessionauth != 'noauth' %}
        <a href="../home" class="brand-logo"><img src="{% static 'assets/css/images/nc_newlogo.png' %}"></a>
        {% elif request.session.sessionauth == 'noauth' %}
            <a href="../logout" class="brand-logo">
            <img src="{% static 'assets/css/images/nc_newlogo.png' %}">
        {% endif %}


        </a>
    </div>
    <!-- END brand -->

    <!-- BEGIN menu -->
    <div class="menu">
    {% if request.session.sessionid %}
    <div class="menu-item dropdown dropdown-mobile-full">
        <button type="button" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link border-0 bg-transparent" >
            <div class="menu-img online">
                <img src="{% static 'img/common/dashboard/user.png' %}" alt="Profile" height="30"/>
            </div>
            <div class="menu-text d-sm-block d-none">{{ request.session.sessionname }} ({{request.session.sessionid}})</div>
        </button>

        <div class="dropdown-menu dropdown-menu-end me-lg-3 fs-11px top-100" >
            {% if Login_Method != 'Tanium'%}
<!--            <a class="dropdown-item d-flex align-items-center" href="../updateform?user_id={{request.session.sessionid}}">{{ request.session.sessionid }} 회원정보 <i class="bi bi-person-circle ms-auto text-theme fs-16px my-n1"></i></a>-->
<!--            <div class="dropdown-divider"></div>-->
            {% endif %}
            <a class="dropdown-item d-flex align-items-center" onclick="confirmLogout2()">로그아웃 <i class="bi bi-toggle-off ms-auto text-theme fs-16px my-n1"></i></a>
        </div>

<!--        <div>-->
<!--        <a class="dropdown-item d-flex align-items-center" href="../updateform?user_id={{request.session.sessionid}}">{{ request.session.sessionname }} 회원정보 <i class="bi bi-person-circle ms-auto text-theme fs-16px my-n1"></i></a>-->
<!--        <a class="dropdown-item d-flex align-items-center" onclick="confirmLogout2()">로그아웃 <i class="bi bi-toggle-off ms-auto text-theme fs-16px my-n1"></i></a>-->
<!--        </div>-->

    </div>
    {% endif %}
</div>


<!--    <div class="menu">-->
<!--        {% if request.session.sessionid %}-->
<!--        <div class="menu-item dropdown dropdown-mobile-full">-->
<!--            <a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">-->
<!--                <div class="menu-img online">-->
<!--                    <img src="{% static 'img/common/dashboard/user.png' %}" alt="Profile" height="30"/>-->
<!--                </div>-->
<!--                <div class="menu-text d-sm-block d-none">{{ request.session.sessionid }}</div>-->
<!--            </a>-->
<!--            <div class="dropdown-menu dropdown-menu-end me-lg-3 fs-11px mt-1">-->
<!--                {% if Login_Method != 'Tanium'%}-->
<!--                <a class="dropdown-item d-flex align-items-center" href="../updateform?user_id={{request.session.sessionid}}">{{ request.session.sessionname }} 회원정보 <i class="bi bi-person-circle ms-auto text-theme fs-16px my-n1"></i></a>-->
<!--                <div class="dropdown-divider"></div>-->
<!--                {% endif %}-->
<!--                <a class="dropdown-item d-flex align-items-center" onclick="confirmLogout2()">로그아웃 <i class="bi bi-toggle-off ms-auto text-theme fs-16px my-n1"></i></a>-->
<!--            </div>-->
<!--        </div>-->
<!--        {% endif %}-->
<!--    </div>-->


    <!-- END menu -->

    <!-- BEGIN menu-search -->
    <form class="menu-search" method="POST" name="header_search_form">
        <div class="menu-search-container">
            <div class="menu-search-icon"><i class="bi bi-search"></i></div>
            <div class="menu-search-input">
                <input type="text" class="form-control form-control-lg" placeholder="Search menu..."/>
            </div>
            <div class="menu-search-icon">
                <a href="#" data-toggle-class="app-header-menu-search-toggled" data-toggle-target=".app"><i class="bi bi-x-lg"></i></a>
            </div>
        </div>
    </form>
    <!-- END menu-search -->
</div>

<script>
			function confirmLogout2() {
				if( confirm("정말 로그아웃 하시겠습니까?") ) {
					window.location.href = "../logout/";
				}
			}



// var sessionExpirationTime = 1 * 10 * 1000; // 30분
//
// // 세션 만료 타이머 시작
// var sessionExpirationTimer = setTimeout(function() {
//     // 세션 만료 시에 수행할 동작
//     // 세션을 끊기 위한 로직을 여기에 작성합니다.
//     // 예: 로그아웃 처리, 세션 데이터 삭제 등
//     // 예시로 새로고침을 하는 경우 세션을 끊도록 설정합니다.
//     location.reload(true);
// }, sessionExpirationTime);
//
// // 페이지 로딩 시 세션 만료 타이머 초기화
// function resetSessionExpirationTimer() {
//     clearTimeout(sessionExpirationTimer);
//     sessionExpirationTimer = setTimeout(function() {
//         // 세션 만료 시에 수행할 동작
//         // 세션을 끊기 위한 로직을 여기에 작성합니다.
//         // 예: 로그아웃 처리, 세션 데이터 삭제 등
//         // 예시로 새로고침을 하는 경우 세션을 끊도록 설정합니다.
//         location.reload(true);
//     }, sessionExpirationTime);
// }
//
// // 페이지에서 사용자의 상호작용이 있을 때마다 세션 만료 타이머 재설정
// document.addEventListener('mousemove', resetSessionExpirationTimer);
// document.addEventListener('keydown', resetSessionExpirationTimer);
// document.addEventListener('click', resetSessionExpirationTimer);
// 필요한 다른 이벤트도 추가할 수 있습니다.


//-----------------세션만료알림창---------------------------
    var sessionTimeout = 60 * 60 * 1000; // 4시간을 밀리초로 변환

    // 세션 만료 시간 후에 실행될 함수를 설정합니다.
    var sessionTimeoutAlert = setTimeout(function() {
        window.location.href="{% url 'logout/' %}";
    }, sessionTimeout);

    // 사용자의 행동을 감지해서 세션 만료 시간을 재설정하는 함수입니다.
    // function resetSessionTimeout() {
    //     clearTimeout(sessionTimeoutAlert);
    //     sessionTimeoutAlert = setTimeout(function() {
    //         alert('세션이 만료되었습니다. 다시 로그인 해주세요.'); location.reload();
    //     }, sessionTimeout);
    // }
    //
    // // 클릭 또는 키 입력 등 사용자의 행동을 감지하도록 이벤트 리스너를 추가합니다.
    // window.addEventListener('mousemove', resetSessionTimeout);
    // window.addEventListener('keypress', resetSessionTimeout);

</script>