<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-Factor daily Report</title>
    <link rel="shortcunt icon" href='/static/img/X-Factor_favicon/favicon.ico'>

    <link rel="stylesheet" href='/static/assets/css/vendor.min.css'>
<!--    <link rel="stylesheet" href='/static/assets/css/app.min.css'>-->

    <link rel="stylesheet" type="text/css" href='/static/css/reportPageStyle/font/reportPage_font.css'>
    <link rel="stylesheet" type="text/css" href='/static/css/reportPageStyle/reportPage_daily.css'>

</head>

<body class="theme-orange">
<div id="app" class="app pt-0">
    <button id="downloadPdfBtn" class="btn btn-outline-darkblue report_download">PDF로 저장</button>
    <div class="daily-report-wrap">
        <!-- BEGIN daily-report 1 page -->
        <div id="daily-report" class="daily-report">
            <div class="daily-sub-page">
                <!-- brand logo -->
                <div class="sub-content brand">
                    <div class="brand-logo">
                        <img src="/static/assets/css/images/NC CI-navy.png" alt="NC로고">
                        <p class="brand-title">자산 리포트</p>
                    </div>
                </div>
                <!-- daily-report-content -->
                <div class="sub-content daily-report-content">
                    <div class="daily-report-content-right">
                        <p class="daily-report-text">
                            월간 자산 리포트
                        </p>
                    </div>
                    <div class="daily-report-content-left">
                        <ul>
                            <li>
                                <p>리포트 생성 시간대</p>
                                <p style="text-align: center"></p>
                            </li>
                            <li>
                                <p>선택한 데이터 시간대</p>
                                <p style="text-align: center">00:00:00</p>
                            </li>
                        </ul>
                    </div>
                </div>
                {% if dataList == 'None'%}
                <div class="center-container" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 80vh;">
                    <div>현재 월간 리포트 데이터를 수집 중입니다.</div>
                    <div>잠시 후에 (최대 3분) 다시 시도해 주세요.</div>
                </div>
                {% else %}
                <div class="sub-container">
                    <div class="sub-content brand-2">
                        <div class="daily-asset-state-title">
                            <p class="marginleft2px">월간 자산수 비교</p>
                        </div>
                        <div class="card">
                            <div id="chart_chassis" class="card-body"></div>
                            <div class="card-arrow">
                                <div class="card-arrow-top-left"></div>
                                <div class="card-arrow-top-right"></div>
                                <div class="card-arrow-bottom-left"></div>
                                <div class="card-arrow-bottom-right"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sub-content brand-2">
                        <div class="daily-asset-state-title">
                        <p class="marginleft2px">장기 미접속 자산 증가율</p>
                        </div>
                        <div class="card">
                            <div id="chart-150days" class="card-body"></div>
                            <div class="card-arrow">
                                <div class="card-arrow-top-left"></div>
                                <div class="card-arrow-top-right"></div>
                                <div class="card-arrow-bottom-left"></div>
                                <div class="card-arrow-bottom-right"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="sub-content brand-3">
                    <div class="daily-asset-state-title">
                    <p class="marginleft2px">Windows 버전별 수 변화량</p>
                    </div>
                    <table class="win-ver-table">
                        <thead>
                            <tr>
                                <th>Windows 버전</th>
                                <th>현재</th>
                                <th>증감수</th>
                                <th>증감률</th>
                            </tr>
                        </thead>
                        <tbody id="winVerTableBody">
                        </tbody>
                    </table>
                </div>
                <div class="sub-container">
                    <div class="sub-content brand-2">
                        <div class="daily-asset-state-title">
                        <p class="marginleft2px">업데이트 대상 수 변화량</p>
                        </div>
                        <div class="card">
                            <div id="chart_os_version_up" class="card-body"></div>
                            <div class="card-arrow">
                                <div class="card-arrow-top-left"></div>
                                <div class="card-arrow-top-right"></div>
                                <div class="card-arrow-bottom-left"></div>
                                <div class="card-arrow-bottom-right"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sub-content brand-2">
                        <div class="daily-asset-state-title">
                        <p class="marginleft2px">보안 패치 대상 수 변화량</p>
                        </div>
                        <div class="card">
                            <div id="chart_hotfix" class="card-body"></div>
                            <div class="card-arrow">
                                <div class="card-arrow-top-left"></div>
                                <div class="card-arrow-top-right"></div>
                                <div class="card-arrow-bottom-left"></div>
                                <div class="card-arrow-bottom-right"></div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src='/static/js/jquery/jquery-3.6.0.min.js'></script>
<script src='/static/assets/plugins/bootstrap/dist/js/bootstrap.min.js'></script>
<script src='/static/assets/js/vendor.min.js'></script>
<script src='/static/assets/js/app.min.js'></script>
<!-- apexchart -->
<script src='/static/assets/plugins/apexcharts/dist/apexcharts.min.js'></script>
<script src='/static/assets/js/ncsm/report_dailyChart.js'></script>
<script src='/static/js/library/html2pdf.bundle.js'></script>
<script>
var dataList = {{ dataList |  safe }};
//console.log(dataList);

document.getElementById('downloadPdfBtn').addEventListener('click', function() {
    html2pdf().set({
        filename: 'report.pdf',
        image: { type: 'jpeg', quality: 0.98 },
        html2canvas: { scale: 2 },
        jsPDF: { unit: 'in', format: 'a4', orientation: 'portrait' }
    }).from(document.getElementById('daily-report')).save();
});

</script>


</body>

</html>


