<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-Factor daily Report</title>
    <link rel="shortcunt icon" href='/static/img/X-Factor_favicon/favicon.ico'>

    <link rel="stylesheet" type="text/css" href='/static/css/reportPageStyle/font/reportPage_font.css'>
    <link rel="stylesheet" type="text/css" href='/static/css/reportPageStyle/reportPage_daily.css'>

</head>

<body class="theme-orange">
<div id="app" class="app pt-0">
    <button id="downloadPdfBtn">PDF로 저장</button>
    <div class="daily-report-wrap">
        <!-- BEGIN daily-report 1 page -->
        <div class="daily-report">
            <div class="daily-sub-page">
                <!-- brand logo -->
                <div class="sub-content brand">
                    <div class="brand-logo">
                        <img src="/static/assets/css/images/NC CI-navy.png" alt="NC로고">
                        <p class="brand-title">자산 리포트</p>
                    </div>
                </div>
                <!-- daily-report-content -->
                <div class="sub-content daily-report-content">
                    <div class="daily-report-content-right">
                        <p class="daily-report-text">
                            월간 자산 리포트
                        </p>
                    </div>
                    <div class="daily-report-content-left">
                        <ul>
                            <li>
                                <p>리포트 생성 시간대</p>
                                <p></p>
                            </li>
                            <li>
                                <p>선택한 데이터 시간대</p>
                                <p>00:00:00</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sub-container">
                    <div class="sub-content brand-2">
                        <p class="marginleft2px">월간 자산수 비교</p>
                        <div id="chart_chassis"></div>
                    </div>
                    <div class="sub-content brand-2">
                        <p class="marginleft2px">장기 미접속 자산 증가율</p>
                        <div id="chart-150days"></div>
                    </div>
                </div>
                <div class="sub-content brand-3">
                    <p class="marginleft2px">Windows 버전별 수 변화량</p>
                    <table class="win-ver-table">
                        <thead>
                            <tr>
                                <th>Windows 버전</th>
                                <th>값</th>
                            </tr>
                        </thead>
                        <tbody id="winVerTableBody">
                        </tbody>
                    </table>
                </div>
                <div class="sub-container">
                    <div class="sub-content brand-2">
                        <p class="marginleft2px">업데이트 대상 수 변화량</p>
                        <div id="chart_os_version_up"></div>
                    </div>
                    <div class="sub-content brand-2">
                        <p class="marginleft2px">보안 패치 대상 수 변화량</p>
                        <div id="chart_hotfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='/static/js/jquery/jquery-3.6.0.min.js'></script>
<script src='/static/assets/plugins/bootstrap/dist/js/bootstrap.min.js'></script>
<script src='/static/assets/js/vendor.min.js'></script>
<script src='/static/assets/js/app.min.js'></script>
<!-- apexchart -->
<script src='/static/assets/plugins/apexcharts/dist/apexcharts.min.js'></script>
<script src='/static/assets/js/ncsm/report_dailyChart.js'></script>
<script src='/static/js/library/html2pdf.bundle.js'></script>
<script>
var dataList = {{ dataList |  safe }};
console.log(dataList);

document.getElementById('downloadPdfBtn').addEventListener('click', function() {
    html2pdf().set({
        filename: 'report.pdf',
        image: { type: 'jpeg', quality: 0.98 },
        html2canvas: { scale: 2 },
        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
    }).from(document.getElementById('app')).save();
});

</script>


</body>

</html>


