{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- BEGIN #content -->

<div class="col-11" style="margin: 10px auto;">
    <!-- BEGIN page-header -->
    <p class="fs-24px pt-10px">
        보안 - 필수프로그램
    </p>
    <!-- END page-header -->
    <div class="row">
        <!--BEGIN card-->
        <div class="card h-auto">
            <!--BEGIN card-body-->
            <div class="card-body">
                <br>
                <div class="btn-group" style="width: 400px">
                    <button class="btn btn-outline-warning me-3px float-start groupdeploy" type="button" id="creategroup" aria-expanded="false">
                    그룹 생성
                    </button>
                    {% for item in menu_list %}
                        {% if item.0 == 'settings' %}
                            <button class="btn btn-outline-warning float-start groupdeploy" type="button" id="createdeploy" aria-expanded="false">
                            배포 하기
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
                <table id="sec_total_list" class="table w-45 mb-2 fs-14px text-center text-white text-opacity-60 nc-12 table-hover">
                    <thead>
                    <tr class="table-active text-white text-opacity-75">
                        <th class="text-center">Cososys</th>
                        <th class="text-center">Symantec</th>
                        <th class="text-center">CarbonBlack CBR</th>
                        <th class="text-center">CarbonBlack CBC</th>
                        <th class="text-center" >McAfee VSE</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                        </tr>
                    </tbody>
                </table>
                <!-- 검색어 필터  -->
                <div class="search-dropdown">
                    <div class="dropdown">
                        <button class="btn btn-outline-warning dropdown-toggle me-3px" type="button" data-column="computer_name" id="column-dropdown" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        컴퓨터 이름
                        </button>
                            <div class="dropdown-menu" aria-labelledby="column-dropdown" id="search-dropdown">
                            <!-- 드롭다운 메뉴 아이템들 -->
                            <a class="dropdown-item" href="#" data-column="logged_name_id__deptName">부서</a>
                            <a class="dropdown-item" href="#" data-column="logged_name_id__userName">이름</a>
                            <a class="dropdown-item" href="#" data-column="logged_name_id__userId">계정</a>
                            <a class="dropdown-item" href="#" data-column="ip_address">IP주소</a>
                            <a class="dropdown-item" href="#" data-column="mac_address">MAC주소</a>
                            <a class="dropdown-item" href="#" data-column="cache_date">online/offline</a>
                            <a class="dropdown-item" href="#" data-column="memo">메모</a>
<!--                                <a class="dropdown-item" href="#" data-column="computer__ncdb_data__deptName">부서</a>-->
<!--                                <a class="dropdown-item" href="#" data-column="computer__ncdb_data__userName">이름</a>-->
<!--                                <a class="dropdown-item" href="#" data-column="computer__ncdb_data__userId">계정</a>-->
<!--                                <a class="dropdown-item" href="#" data-column="computer__computer_name">컴퓨터 이름</a>-->
<!--                                <a class="dropdown-item" href="#" data-column="computer__chassistype">구분</a>-->
<!--                                <a class="dropdown-item" href="#" data-column="security1">Cososys</a>-->
<!--                                <a class="dropdown-item" href="#" data-column="security2">Symantec</a>-->
<!--                                <a class="dropdown-item" href="#" data-column="security3">CBR</a>-->
<!--                                <a class="dropdown-item" href="#" data-column="security4">CBC</a>-->
<!--                                <a class="dropdown-item" href="#" data-column="security5">McAfee</a>-->
<!--                                <a class="dropdown-item" href="#" data-column="computer__memo">메모</a>-->
                            </div>
                    </div>
                    <div class="input-group">
                        <input type="search" class="form-control" id="search-input-sec" placeholder="검색어를 입력하세요">
                        <div class="input-group-append">
                            <button class="btn btn-outline-warning ms-3px" type="button" id="search-button-sec">검색</button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <table id="sec_asset_list" class="table w-100 fs-14px text-center text-white text-opacity-60 nc-12 table-hover">
                    <thead>
                        <tr class="table-active text-white text-opacity-75">
                            <th class="text-center">선택</th>
                            <th class="text-center">No</th>
                            <th class="text-center">OS</th>
                            <th class="text-center">부서</th>
                            <th class="text-center">이름</th>
                            <th class="text-center">계정</th>
                            <th class="text-center">컴퓨터 이름</th>
                            <th class="text-center">Cososys</th>
                            <th class="text-center">Symantec</th>
                            <th class="text-center">CarbonBlack CBR</th>
                            <th class="text-center">CarbonBlack CBC</th>
                            <th class="text-center">McAfee VSE</th>
                            <th class="text-center">더보기</th>
                            <th class="text-center">온/오프라인</th>
                            <th class="text-center">메모</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <!--END card-body-->
            <!--BEGIN card-arrow-->
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            <!--END card-arrow-->
        </div>
        <!--END card-->

        <div id="bottom_asset">
            {% if asset %}
                타입별 자산 현황 (&nbsp;&nbsp;
                총 자산 수 : {{total_item_count}} 대 &nbsp;    =   &nbsp;
                {% for item in asset %}
                     {{item.item}} : {{item.item_count}}대&nbsp;&nbsp;
                {% endfor %}
            )
            {% endif %}
            <a href="{% url 'export' model='Xfactor_Common_Cache' %}?parameter_name=sec_asset" class="btn btn-outline-warning export" onclick="return noti()">Export to Excel</a>

        </div>
    </div>
</div>

<div class="modal" name="secAssetModal" id="secAssetModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content" style="background-color:#1d2835;">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-body">
          <table class="table sectableCom" style="overflow-y: auto;">
              <thead class="sectheadCom">
              </thead>
              <tbody class="sectheadCom">
              <tr>
                <th scope="col" style="text-align: center">컴퓨터 이름</th>
                <th scope="col" style="text-align: center"></th>
              </tr>
                <tr>
                    <th scope="col" style="text-align: center">IP</th>
                    <th scope="col" style="text-align: center"></th>
                </tr>
                <tr>
                    <th scope="col" style="text-align: center">MAC주소</th>
                    <th scope="col" style="text-align: center"></th>
                </tr>
                <tr>
                    <th scope="col" style="text-align: center">OS정보</th>
                    <th scope="col" style="text-align: center"></th>
                </tr>
              </tbody>
          </table>
          <br>
          <table class="table sectable" style="overflow-y: auto;">
              <thead class="secthead">
                    <th scope="col" style="text-align: center">이름</th>
                    <th scope="col" style="text-align: center">버전</th>

              </thead>
              <tbody class="sectbody">
                <tr>

                </tr>
              </tbody>
          </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
function noti() {
    if( confirm("추출 하시겠습니까?") ) {
    }else {
        return false;
    }
}


</script>
{% endblock %}


