{% load static %}

<div id="sidebar" class="app-sidebar">
    <!-- BEGIN scrollbar -->
    <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
        <!-- BEGIN menu -->
        <div class="menu">
            <div class="menu-header"></div>
            <div class="menu-item has-sub active">
                <a href="#" class="menu-link">
                    <span class="menu-icon">
                        <i class="bi bi-collection"></i>
                    </span>
                    <span class="menu-text">Dashboard</span>
                    <span class="menu-caret"><b class="caret"></b></span>
                </a>
                <div class="menu-submenu">
                    {% if menu_list %}
                        {% for item in menu_list|dictsort:3%}
                            {% if item.0 == "HS_asset" %}
                                <div class="menu-item">
                                    <a href="../{{item.2}}" class="menu-link">

                                        <span class="menu-text">{{ item.1 }}</span>
                                    </a>
                                </div>
                            {% elif item.0 == "VER_asset" %}
                                <div class="menu-item">
                                    <a href="../{{item.2}}" class="menu-link">
                                        <span class="menu-text">{{ item.1 }}</span>
                                    </a>
                                </div>
                            {% elif item.0 == "UP_asset" %}
                                <div class="menu-item">
                                    <a href="../{{item.2}}" class="menu-link">
                                        <span class="menu-text">{{ item.1 }}</span>
                                    </a>
                                </div>
                            {% elif item.0 == "EP_asset" %}
                                <div class="menu-item">
                                    <a href="../{{item.2}}" class="menu-link">
                                        <span class="menu-text">{{ item.1 }}</span>
                                    </a>
                                </div>
                            {% elif item.0 == "PUR_asset" %}
                                <div class="menu-item">
                                    <a href="../{{item.2}}" class="menu-link">
                                        <span class="menu-text">{{ item.1 }}</span>
                                    </a>
                                </div>
                            {% elif item.0 == "SEC_asset" %}
                                <div class="menu-item">
                                    <a href="../{{item.2}}" class="menu-link">
                                        <span class="menu-text">{{ item.1 }}</span>
                                    </a>
                                </div>
                            {% elif item.0 == "SEC_asset_list" %}
                                <div class="menu-item">
                                    <a href="../{{item.2}}" class="menu-link">
                                        <span class="menu-text">{{ item.1 }}</span>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div> <!-- menu-submenu 닫는 태그 추가 -->
            </div>
            {% for item2 in menu_list|dictsort:3%}
                {% if item2.0 == "Asset" %}
                    <div class="menu-item">
                        <a href="../{{item2.2}}" class="menu-link">
                            <span class="menu-icon"><i class="bi bi-collection"></i></span>
                            <span class="menu-text">Asset</span>
                        </a>
                    </div>
                {% elif item2.0 == "History" %}
                    <div class="menu-item">
                        <a href="../{{item2.2}}" class="menu-link">
                            <span class="menu-icon"><i class="bi bi-collection"></i></span>
                            <span class="menu-text">History</span>
                        </a>
                    </div>
                {% elif item2.0 == "settings" %}
                    <div class="menu-item has-sub active">
                        <a href="#" class="menu-link">
                            <span class="menu-icon">
                                <i class="bi bi-collection"></i>
                            </span>
                            <span class="menu-text">Settings</span>
                            <span class="menu-caret"><b class="caret"></b></span>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="../user_management" class="menu-link">
                                    <span class="menu-text">사용자/권한 관리</span>
                                </a>
                            </div>
<!--                            <div class="menu-item">-->
<!--                                <a href="../group_management" class="menu-link">-->
<!--                                    <span class="menu-text">그룹 관리</span>-->
<!--                                </a>-->
<!--                            </div>-->
                            <div class="menu-item">
                                <a href="../log_management" class="menu-link">
                                    <span class="menu-text">로그</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- BEGIN mobile-sidebar-backdrop -->

<button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>
<!-- END mobile-sidebar-backdrop -->

<script>
</script>