{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- BEGIN #content -->

<div class="col-11" style="margin: 10px auto;">
    <!-- BEGIN page-header -->
    <p class="fs-24px pt-10px">
        Win/Mac 버전별 자산현황 (전체)
    </p>
    <!-- END page-header -->
    <div class="row">
        <!--BEGIN card-->
        <div class="card h-auto">
            <!--BEGIN card-body-->
            <div class="card-body">
                <ul class="nav nav-tabs2 nav-tabs-v2 px-3" role="tablist">
                    <li class="nav-item me-3" role="presentation"><a href="#" class="nav-link active px-2" data-bs-toggle="tab" aria-selected="true" role="tab" value="All" onclick="allbutton(this);">All</a></li>
                    <li class="nav-item me-3" role="presentation"><a href="#" class="nav-link px-2" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab" value="Windows" onclick="winbutton(this);">Windows</a></li>
                    <li class="nav-item me-3" role="presentation"><a href="#" class="nav-link px-2" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab" value="Mac" onclick="macbutton(this);">Mac</a></li>
                    <li class="nav-item me-3" role="presentation"><a href="#" class="nav-link px-2" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab" value="Other" onclick="otherbutton(this);">Other</a></li>
                </ul>
                <br>
                <div class="">
                    <button class="btn btn-outline-warning me-3px float-start groupdeploy" type="button" id="creategroup" aria-expanded="false">
                    그룹 생성
                    </button>
                    {% for item in menu_list %}
                        {% if item.0 == 'settings' %}
                            <button class="btn btn-outline-warning float-start groupdeploy" type="button" id="createdeploy" aria-expanded="false">
                            배포 하기
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- 검색어 필터  -->
                <div class="search-dropdown">
                    <div class="dropdown">
                        <button class="btn btn-outline-warning dropdown-toggle me-3px" type="button" id="column-dropdown" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" data-column="computer_name" aria-expanded="false">
                        컴퓨터 이름
                        </button>
                            <div class="dropdown-menu" aria-labelledby="column-dropdown" id="search-dropdown">
                            <!-- 드롭다운 메뉴 아이템들 -->
                            <a class="dropdown-item" href="#" data-column="logged_name_id__deptName">부서</a>
                            <a class="dropdown-item" href="#" data-column="logged_name_id__userName">이름</a>
                            <a class="dropdown-item" href="#" data-column="logged_name_id__userId">계정</a>
                            <a class="dropdown-item" href="#" data-column="computer_name">컴퓨터 이름</a>
                            <a class="dropdown-item" href="#" data-column="ip_address">IP주소</a>
                            <a class="dropdown-item" href="#" data-column="mac_address">MAC주소</a>
                            <a class="dropdown-item" href="#" data-column="cache_date">online/offline</a>
                            <a class="dropdown-item" href="#" data-column="memo">메모</a>
                            </div>
                    </div>
                    <div class="input-group">
                        <input type="search" class="form-control" id="search-input-ver" placeholder="검색어를 입력하세요">
                        <div class="input-group-append">
                            <button class="btn btn-outline-warning ms-3px" type="button" id="search-button-ver">검색</button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <table id="ver_asset_list" class="table w-100 fs-14px text-center text-white text-opacity-60 nc-12 table-hover">
                    <thead>
                        <tr class="table-active text-white text-opacity-75">
                            <th class="text-center">선택</th>
                            <th class="text-center">No</th>
                            <th class="text-center">부서</th>
                            <th class="text-center">이름</th>
                            <th class="text-center">계정</th>
                            <th class="text-center">컴퓨터 이름</th>
                            <th class="text-center">IPv4</th>
                            <th class="text-center" >MAC</th>
                            <th class="text-center" >하드웨어 목록</th>
                            <th class="text-center" >온/오프라인</th>
                            <th class="text-center">메모</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <!--END card-body-->
            <!--BEGIN card-arrow-->
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
            <!--END card-arrow-->
        </div>
        <!--END card-->

        <div id="bottom_asset">
            {% if asset %}
                타입별 자산 현황 (&nbsp;&nbsp;
                총 자산 수 : {{total_item_count}} 대 &nbsp;    =   &nbsp;
                {% for item in asset %}
                     {{item.item}} : {{item.item_count}}대&nbsp;&nbsp;
                {% endfor %}
            )
            {% endif %}

            <a href="{% url 'export' model='Xfactor_Common_Cache' %}?parameter_name=ver_asset" class="btn btn-outline-warning export" onclick="return noti()">Export to Excel</a>

        </div>
    </div>
</div>


<div class="modal" name="verModal" id="verModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content" style="background-color:#1d2835;">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-body">
<!--          <div class="mb-2">-->
<!--              <input type="text" id="searchInput2" class="form-control" placeholder="검색할 내용을 입력하세요 (입력한 값이 노란색으로 보여집니다.)">-->
<!--          </div>-->
          <table class="table hstable" style="overflow-y: auto;">
              <thead class="hsthead">
                    <th scope="col">OS 정보</th>
                    <th scope="col">값</th>

              </thead>
              <tbody class="hstbody"></tbody>
          </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
function noti() {
    if( confirm("추출 하시겠습니까?") ) {
    }else {
        return false;
    }
}


//-----------------세션만료알림창---------------------------
    var sessionTimeout = 240 * 60 * 1000; // 4시간을 밀리초로 변환

    // 세션 만료 시간 후에 실행될 함수를 설정합니다.
    var sessionTimeoutAlert = setTimeout(function() {
        alert('세션이 만료되었습니다. 다시 로그인 해주세요.'); location.reload();
    }, sessionTimeout);

    // 사용자의 행동을 감지해서 세션 만료 시간을 재설정하는 함수입니다.
    function resetSessionTimeout() {
        clearTimeout(sessionTimeoutAlert);
        sessionTimeoutAlert = setTimeout(function() {
            alert('세션이 만료되었습니다. 다시 로그인 해주세요.'); location.reload();
        }, sessionTimeout);
    }

    // 클릭 또는 키 입력 등 사용자의 행동을 감지하도록 이벤트 리스너를 추가합니다.
    window.addEventListener('mousemove', resetSessionTimeout);
    window.addEventListener('keypress', resetSessionTimeout);

</script>
{% endblock %}


